<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/auth/changePassword.css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <title>Changer le mot de passe</title>
</head>
<body>
    <div class="alert hide">
        <span class="fas fa-exclamation-circle"></span>
        <span class="msg">Warning: This is a warning alert!</span>
        <div class="close-btn">
           <span class="fas fa-times"></span>
        </div>
     </div>
<div class="bg-modal">       
    <div class="modal-content">
        <div class="content">
            <div class="title">Changer le mot de passe</div>
            <div class="form-control">
                <label for="username">Mot de passe actuel</label>
                <input type="text" placeholder="" id="apassword" />
                <small>Error message</small>
            </div>
            <div class="form-control">
                <label for="npassword">Nouveau mot de passe</label>
                <input type="text" placeholder="" id="npassword" />
                <small>Error message</small>
            </div>
            <div class="form-control">
                <label for="apassword">Confirmer mot de passe</label>
                <input type="text" placeholder="" id="npassword2" />
                <small>Error message</small>
            </div>

            <button class="btn show" id="btn">
Changer   
            </button>



            
            <div class="alert alert-success">
                <strong>Succès !</strong> Vous venez de changer votre mot de passe
              </div>
            <div class="lds-facebook stop" id="loader"><div></div><div></div><div></div></div>
    </div> 
    <script src="/js/changePassword.js"></script>
</body>
</html>