<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
       
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>mot de passe oublié</title>
        <!-- =====  FONT ===== -->
        <link href="http://fonts.cdnfonts.com/css/segoe-ui-4" rel="stylesheet">
        <!-- =====  ICONS ===== -->
        <link
          rel="stylesheet"
          href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css"
        />
        <!-- === CSS ===-->
        <link rel="stylesheet" href="/css/auth/forgetpassword.css" />
    </head>
    <body>
        <div class="container">
            <div class="form2"> 
              <h2 class="title2">Récupérer mot de passe</h2>
              <p id="txt">Veuillez introduire votre e-mail puis <br>
              consulter votre boîte e-mail pour <br>
              la récupération de votre compte</p>
                  <p id="adr">Adresse email</p>
                  <div class="field">
                  <div class="input-field one">
                  <i class="fi-rr-envelope"></i>
                  <input
                    id="email"
                    type="email"
                    name="email"
                    placeholder="Entrez votre email"
                    required
                  />
                  </div>
                  <small class="noterror"></small>
                </div>
              <button id="btn" class="btn btn2">Envoyer</button>
              </div>
          </div>
        </div>
        <script src="/js/forgetPassword.js"></script>
    </body>
</html>