<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>mot de passe oublié</title>

        <!-- =====  ICONS ===== -->
        <link
          rel="stylesheet"
          href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css"
        />
        <!-- === CSS ===-->
        <link rel="stylesheet" href="/css/auth/forgetpassword.css" />
    </head>
    <body>
        <div class="container">
            <form action="/users/forget" method="POST" class="form2"> 
              <h2 class="title2">Récupérer mot de passe</h2>
              <p id="txt">Veuillez introduire votre e-mail puis <br>
              consulter votre boîte e-mail pour la récupération <br>
              de votre compte</p>
                  <p>Adresse email</p>
                  <div class="input-field one">
                  <i class="fi-rr-envelope"></i>
                  <input
                    type="email"
                    name="email"
                    placeholder="Entrez votre email"
                    required
                  />
                  </div>
              <button type="submit" class="btn btn2">Envoyer</button>
            </form>
          </div>
        </div>
        <script src="/js/views.js"></script>
    </body>
</html>