<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Se connecter</title>

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo:wght@500;700&family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />
    <!-- =====  ICONS ===== -->
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css"
    />
    <!-- === CSS ===-->
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="pic">
        <img class="img" src="/assets/web png.png" />
      </div>
      <div class="login-content">
        <form action="/users/login" method="POST">
          <h2 class="title">Se connecter</h2>
          <h5>Adresse email</h5>
          <div class="input-field one">
            <i class="fi-rs-envelope"></i>
            <input type="email" name="email"  placeholder="Entrez votre email" />
          </div>
          <h5>Mot de passe</h5>
          <div class="input-field two">
            <i class="fi-rs-lock"></i>
            <input
              type="password"
              placeholder="Entrez votre mot de passe"
              id="password"
              name="password"
            />
            <i class="fi-rs-eye" id="eye"></i>
          </div>
          <a href="forgot.html">mot de passe oubliée ?</a>
          <button type="submit" class="btn">Se connecter</button>
        </form>
      </div>
    </div>
    <script src="/js/views.js"></script>
  </body>
</html>
