<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mot de passe oublié</title>

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo:wght@500;700&family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />
    <!-- =====  ICONS ===== -->
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css"
    />
    <!-- === CSS ===-->
    <link rel="stylesheet" href="/css/auth/styles.css" />
</head>
<body>
  <div class="container">
    <div class="pic">
      <img class="img" src="../../assets/pic2.png" />
     </div>
    <form action="/users/reset?token=<%=token%>" method="POST" class="form3">
        <h2 class="title2">Reinitialiser mot de passe</h2>
       
        <h5 class="sous">Mot de passe</h5>
        <div class="input-field two">
            <i class="fi-rs-lock"></i>
            <input type="password" name="password"  id="password" placeholder="Entrez votre mot de passe"/>
            <i class="fi-rs-eye" id="eye"></i>
        </div>
        <h5 class="sous">Confirme mot de passe</h5>
        <div class="input-field two">
          <i class="fi-rs-lock"></i>
          <input type="password" name="confirmpassword"  id="confirmpassword" placeholder="Confirmez votre mot de passe"/>
          <i class="fi-rs-eye" id="eye2"></i>
      </div>
         
        <button type="submit" class="btn btn2" value="<%=token%>" onclick="return Validate()">Se connecter</button>
    </form>

    <script src="/js/views.js"></script>
  </div>  
</body>
</html>