<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
       
        <title>mot de passe oublié</title>
    
        <!-- FONTS -->
        <link
          href="https://fonts.googleapis.com/css2?family=Archivo:wght@500;700&family=Poppins:wght@300&display=swap"
          rel="stylesheet"
        />
        <!-- =====  ICONS ===== -->
     
        <!-- === CSS ===-->
        <link rel="stylesheet" href="/css/auth/reset.css" />
    </head>
    <body>
      <div class="container">
        <form action="/users/reset?token=<%=token%>" method="POST" id="form">
          <img id="image" src="/assets/logo_login.png" alt="UTF-8">
          <div class="error" id="er">
          </div>
          
          <p>Mot de passe</p>
          <div class="field1">
          <div class="input-field two" style="padding-left: 5px;">
            <i class="fas fa-lock" style="padding-right: 5px;"></i>
            <input
              type="password"
              placeholder="Entrez votre mot de passe"
              id="password"
              name="password"
              required
            />
         
            
          </div>
          <small class="noterror"></small>
        </div>
  
          <p id="marge">Confirmer mot de passe</p>
          <div class="field2">
            <div class="input-field two" style="padding-left: 5px;">
              <i class="fas fa-lock"></i>

              <input
                type="password"
                placeholder="Confirmez votre mot de passe"
                id="confirmpassword"
                name="confirmpassword"
                required
              />
    
            </div>
            <small class="noterror"></small>
          </div>
            <button id="btn" class="btn" value="<%=token%>" onclick="return false">Modifer</button>
        </form>
      </div>
        <script src="/js/resetPassword.js"></script>
    </body>
</html>