
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500;700&family=Poppins:wght@300&display=swap');
:root{
--font-archivo: 'Archivo', sans-serif;
}


body {
    font-family: 'Archivo', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



img{
  padding-top: 15px;
  width: 52%;
}

body {

  overflow: hidden;
  background-image: url("/assets/background_login.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  border: 1px solid #707070;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 459px;
  height: 450px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0px 3px 6px #707070;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.input-field.one{
	margin-bottom:15px;
	grid-template-columns: 10% 90%;
}

.input-field.two{
	margin-bottom:8px;
	grid-template-columns: 10% 80% 10%;
}
/* .input-field.three{
	width :90%;
	margin-bottom:30px;
	grid-template-columns: 10% 90%;
	
} */

.input-field {
  max-width: 335px;
	width: 100%;
	background-color: white;
	border: 1px solid #707070;
	margin:  auto;
	height: 50px;
	border-radius: 12px;
	display: grid;
	position: relative;
	
}
.input-field.two {
	margin-bottom: 8px;
	grid-template-columns: 10% 80% 10%;
  }
.input-field i {
  line-height: 55px;
 opacity: 50% ;
  font-size: 1.3rem;
  margin: auto;
}

.fi-rr-envelope,
.fi-rr-lock {
	position: relative;
	width: 50px;
	height: 100%;
	color: black;
	background: #F5F5F5;
	border-right: 1px solid #707070;
	border-radius: 12px 0 0 12px;
	display: flex;
	align-items: center;
	justify-content: center;
 
}

#eye {
  cursor: pointer;
  color: #b3b6b7;
  padding-right: 10px;
}



.input-field input {
	background: none;
	outline: none;
	border: none;
	line-height: 1;
	font-weight: 400;
	font-size: 1.1rem;
	color:black;
	padding-left: 30px;

  }

.input-field input::placeholder {
  color: #b3b6b7;
  font-weight: 400;
  font-size: 1.05rem;

  
}

p {
  display: block;
  text-align: left;
  text-decoration: none;
  color: black;
  font-size: 1.05rem;
  font-weight: 500;
  margin-bottom: 4px;
  padding-left: 7px;
  margin-top: 10px;
}

a {
  display: center;
  text-align: right;
  color: black;
  font-size: 0.9rem;
  transition: 0.3s;
  margin-bottom: 50px;
  font-weight: 400;
}

a:hover {
  color: #01559c;
}

.btn {
  display: block;
  width: 201px;
  height: 47px;
  border-radius: 12px;
  outline: none;
  border: none;
  font-size: 1.18rem;
  background-color: #01559c;
  color: white;

  font-weight: 400;
  margin: 60px auto;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 4px 4px 6px #b1b0b0;
  margin-bottom: 13px;
  margin-top: 22px;
}
.btn:hover {
  background-color: white;
  color: #01559c;
  border: 2px solid #01559c;
}
.inputone small 
{
  text-align: left;
  color: red;
background-color: white

}

.inputtwo small  {
  text-align: left; 
color: red;
background-color: white;
}
.inputone small .noterror
{
  text-align: left;
  display: none;
}
.inputtwo small .noterror {
  text-align: left;
display: none;
}
