<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  <div class="logo">
    <img src="/assets/icon drawer.svg" alt="">
    <img src="/assets/logo_login.png" alt="" />
  </div>
  <div class="drawer-list">
    <a href="#" class="drawer-item">
      <img src="/assets/home.svg" alt="" />
      <p>Acceuil</p>
    </a>
    <a href="#" class="drawer-item">
      <img src="/assets/patient.svg" alt="" />
      <p>Patiens</p>
    </a>
    <a href="#" class="drawer-item">
      <img src="/assets/rendezvos.svg" alt="" />
      <p>Rendez-vous</p>
    </a>
    <a href="#" class="drawer-item">
      <img src="/assets/statistique.svg" alt="" />
      <p>statistiques</p>
    </a>
    <a href="#" class="drawer-item">
      <img src="/assets/profil.svg" alt="" />
      <p>Profil</p>
    </a>
    <div class="ligne"></div>
    <a href="#" class="drawer-item">
      <img src="/assets/logout.svg" alt="" />
      <p>Déconnecter</p>
    </a>
  </div>
</div>
