<div id="mySidenav" class="sidenav">
  <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->

  <div class="logo" onclick="closeNav()">
    <img
      src="/assets/drawer.svg"
      
      height="20px"
      width="20px"
      style="margin-left: 20px"
    />
    <img
      src="/assets/logo.png"
      height="100px"
      width="120px"
      style="margin-left: 20px"
    />
  </div>
  <div class="drawer-list">
    <a href="#" class="drawer-item">
      <img src="/assets/home-1.svg" alt="" />
      <p>Acceuil</p>
    </a>
    <a href="#" class="drawer-item">
      <img src="/assets/patient.svg" alt="" />
      <p>Patiens</p>
    </a>
    <a href="#" class="drawer-item">
      <img src="/assets/rendezvous1.svg" alt="" />
      <p>Rendez-vous</p>
    </a>
    <a href="#" class="drawer-item">
      <img src="/assets/statistique.svg" alt="" />
      <p>statistiques</p>
    </a>
    <a href="#" class="drawer-item">
      <img src="/assets/profil.svg" alt="" />
      <p>Profil</p>
    </a>
    <div class="ligne"></div>
    <a href="/users/admin/logout" class="drawer-item">
      <img src="/assets/logout.svg" alt="" />
      <p>Déconnecter</p>
    </a>
  </div>
</div>
