<div class="popupupdate">
    <div class="blocker" onclick=""></div>
    <div class="bcontainer2">
      <div class="container2">
        
        <div class="text">Modifier un compte</div>
        <form action="#" >
            <div class="data">
              <label>Type </label>
              <input type="text" id="typeupdate"  required />
              <small class="noterror">
              </small>
            </div>
            <div class="data">
              <label>Degré </label>
              <input type="text" id="degreeupdate"  required />
              <small class="noterror">
              </small>
            </div>
          </form>
        </div>
      <div class="btn2">
        <button type="submit" onclick="updatedatabtn()" id='modifier'> Modifier le compte</button>
      </div>
    </div>
  </div>