<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/medicalfile/medicalfile.css" />
    <link rel="stylesheet" href="/css/medicalfile/updatemedicalfile.css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
  />
  <title>Document</title>
</head>
<body>
    <div class="h-container">
        <div class="i-item-active" id="item1">
            <h3>Bibliographie</h3>
            <div class="sub-container"></div>
        </div>
        <div class="i-item" id="item2">
          <h3>A.personnelles</h3>
          <div class="sub-container"></div>
      </div>
      <div class="i-item" id="item3">
          <h3>A.MEDICO-chirugical</h3>
          <div class="sub-container"></div>
      </div>
      <div class="i-item" id="item4">
          <h3>Examen médicaux</h3>
          <div class="sub-container"></div>
      </div>
      </div>
      <div class="row2">
        <div class="text1">
            Dossier médical du patient : 
        </div>
        <div class="nameDossier">
      DJELLALI
        FOUAD
        </div>
        <div class="typeDossier">
      Etudiant
        </div>
    </div>


    <div class="w-container1">
        <div class="w-container2">
            <div class="re-title"></div>
            <div class="column1">
                <div class="row">
                    <div class="titre">N sécurité social</div>
                    <div class="data">
                        <input type="text" id="nom"  required />
                      </div>
                  </div>
                  <div class="row">     
                    <div class="titre">N dossier :</div>
                    <div class="data">
                        <input type="text" id="nom"  required />
    
                      </div>
                  </div>
                  <div class="row">
                    <div class="titre">Nom : </div>
                
                    <div class="data">
              
                        <input type="text" id="nom"  required />
                     
                      </div>
                  </div>
                  <div class="row">
                    <div class="titre">Prénom :</div>
                    <div class="data">
                        <input type="text" id="nom"  required />
                     
                      </div>
                  </div>
                  <div class="row">
                    <div class="titre">Date de naissance :</div>
               
                    <div class="data">
                        <input type="text" id="nom"  required />
                     
                      </div>
                  </div>
                  <div class="row">
                    <div class="titre">Adresse :</div>
         
                    <div class="data">
                        <input type="text" id="nom"  required />
                     
                      </div>
                  </div>
                  <div class="row">
                    <div class="titre">Situation familiale : </div>
                    <div class="data">
                        <input type="text" id="nom"  required />
                     
                      </div>
                  </div>
                  <div class="row">
                    <div class="titre">Numéro de téléphone :</div>
            
                    <div class="data">
                        <input type="text" id="nom"  required />
                     
                      </div>
                  </div>
                  <div class="row">
                    <div class="titre">Sexe : </div>
                    <div class="titre"></div>
                    <div class="data">
                        <input type="text" id="nom"  required />
                     
                      </div>
                  </div>
                  <div class="row">
                    <div class="titre">Groupe sanguin : </div>
                    <div class="data">
                        <input type="text" id="nom"  required />
                      </div>
                    
                  </div>
            </div>
           
              
            
           
        
        </div>
    </div>
</body>
</html>