<div class="hideordonanceup">
    <div class="blocker" onclick="hideOrdonanceup()"></div>
    <div class="bcontainer2">
        <div class="container2">
            <div class="head1">
                <h2 class="whitetext">Ordonnance </h1>                 
            </div>
            <form class="formexam" >
                <div>
                    <label for='medup'>Liste des medicaments</label>
                    <div class="listm">
                        <div>
                            <input list="medsup" name="med" id="medup" class="med">
                            <datalist id="medsup"  >
                                <% for (var i = 0; i < drugs.length; i++) { %>
                                <option value="<%= drugs[i].name_drug %>">
                                <% } %>
                            </datalist><br>
                            <small class="noterror">
                            </small>
                        </div>
                        <input type="button" id="addmedup" class="addmedup" name='addmedup' value="Ajouter a la liste">
                    </div>
                </div>
                <div class="flexbox">             
                    <p>Posologie</p>
                    <div>
                        <input type="text" id="posoup" name='poso' class="text"><br>
                        <small class="noterror">
                        </small>
                    </div>
                    <p class="pad">Duree de traitement</p>
                    <div>
                        <input type="text" id="traitup" name='trait' class="text"><br>
                        <small class="noterror">
                        </small>
                    </div>
                </div>
                <input type="button" id="addup" class="addup" value="Ajouter a l'ordonnance">
                <div>
                    <table id="listup" name="list" class="list">
                        <tbody>
                            
                        </tbody>
                    </table><br>
                    <small class="noterror">
                    </small>
                </div>
                <input type="hidden" id="infoup" name="info">
                <input type="button" id="valideup" class="valideup" value="Valide l'ordonnance">
            </form>
        </div>
    </div>           
</div>

<script>

document.querySelector(".addmedup").addEventListener("click",() => {

    if(medup.value.length < 1){
        const parent = medup.parentElement;
        const small = parent.querySelector("small");
        small.className = "";
        small.innerText = "Choisir un medecament";
        return;
    }else{
        const parent = medup.parentElement;
        const small = parent.querySelector("small");
        small.className = "noterror";
        small.innerText = null;
    }

    var list = document.getElementById('medsup').options;

    for (var j = 0; j < list.length; j++) { 
        if(medup.value===list[j].value){
            const parent = medup.parentElement;
            const small = parent.querySelector("small");
            small.className = "";
            small.innerText = "Ce medecament existe deja";
            return;
        }else{
            const parent = medup.parentElement;
            const small = parent.querySelector("small");
            small.className = "noterror";
            small.innerText = null;
        }
    }

    //traitement back

    $.ajax({
        method: "POST",
        url: "/users/medecin/addMedicament",
        data: {
            "med":medup.value,
        },
        success: function (result) {
            var data = document.getElementById('medsup');

            var op = document.createElement('option');
            op.value = medup.value;
            data.appendChild(op);

            const parent = medup.parentElement;
            const small = parent.querySelector("small");
            small.style.color = 'green';
            small.className = "";
            small.innerText = "medecament ajoutee";    
        },
    });

});

document.querySelector(".addup").addEventListener("click",() => {

    var med1 = document.getElementById('medup') ;
    var poso = document.getElementById('posoup');
    var trait = document.getElementById('traitup');  

    if(med1.value.length < 1){
        const parent = med1.parentElement;
        const small = parent.querySelector("small");
        small.className = "";
        small.innerText = "Choisir un medecament";
        return;
    }else{
        const parent = med1.parentElement;
        const small = parent.querySelector("small");
        small.className = "noterror";
        small.innerText = null;
    }
    if(poso.value.length < 1){
        const parent = poso.parentElement;
        const small = parent.querySelector("small");
        small.className = "";
        small.innerText = "Entrez la posologie";
        return;
    }else{
        const parent = poso.parentElement;
        const small = parent.querySelector("small");
        small.className = "noterror";
        small.innerText = null;
    }
    if(trait.value.length < 1){
        const parent = trait.parentElement;
        const small = parent.querySelector("small");
        small.className = "";
        small.innerText = "Entrez la duree de traitement";
        return;
    }else{
        const parent = trait.parentElement;
        const small = parent.querySelector("small");
        small.className = "noterror";
        small.innerText = null;
    }
        
    var med = document.getElementById('medup').value;
    var poso = document.getElementById('posoup').value;
    var trait = document.getElementById('traitup').value;

    var list = document.getElementById('medsup').options;
    var test=false;
        for (var j = 0; j < list.length; j++) { 
            if(med ===list[j].value){
                const parent = med1.parentElement;
                const small = parent.querySelector("small");
                small.className = "noterror";
                small.innerText = null;
                test =true;
                break;
            }
        }
    if(test === false){
        const parent = med1.parentElement;
        const small = parent.querySelector("small");
        small.className = "";
        small.innerText = "Ce medecament n'existe pas";
        return;
    }

    var myTab = document.getElementById('listup');

    for (i = 0; i < myTab.rows.length; i++) {
            var objCells = myTab.rows.item(i).cells;
            var val = objCells.item(0).innerText;

        if(med===val){
            const parent = med1.parentElement;
            const small = parent.querySelector("small");
            small.className = "";
            small.innerText = "vous avez deja choisie ce medicament";
            return;
        }
        const parent = med1.parentElement;
        const small = parent.querySelector("small");
        small.className = "noterror";
        small.innerText = null;
    }

    var tbodyRef = document.getElementById('listup').getElementsByTagName('tbody')[0];

    var newRow = tbodyRef.insertRow();

    // Insert a cell at the end of the row
    var newCellmed = newRow.insertCell();
    newCellmed.style.border='0px';
    newCellmed.style.width='300px';
    newCellmed.classList.add("padleft");
    var newCellposo = newRow.insertCell();
    newCellposo.style.border='0px';
    newCellposo.style.width='150px';
    var newCelltrait = newRow.insertCell();
    newCelltrait.style.border='0px';
    newCelltrait.style.width='150px';
    var newCellbtn = newRow.insertCell();
    newCellbtn.style.border='0px';
    // Append a text node to the cell
    var newTextmed = document.createTextNode(med);
    var newTextposo = document.createTextNode(poso);
    var newTexttrait = document.createTextNode(trait);
    var btn = document.createElement("img");
    btn.onclick = function () {
        var i = this.parentNode.parentNode.rowIndex;
        document.getElementById("listup").deleteRow(i);
    }
    btn.classList.add("delete");
    newCellmed.appendChild(newTextmed);
    newCellposo.appendChild(newTextposo);
    newCelltrait.appendChild(newTexttrait);
    newCellbtn.appendChild(btn);
});

document.querySelector(".valideup").addEventListener("click",() => {
    //si vous voulez ajouter d autre test
    var myTab = document.getElementById('listup');

    if(myTab.rows.length < 1){
        const parent = myTab.parentElement;
        const small = parent.querySelector("small");
        small.className = "";
        small.innerText = "vous n'avez pas remplis l'ordonnance";
        return;
    }else{
        const parent = myTab.parentElement;
        const small = parent.querySelector("small");
        small.className = "noterror";
        small.innerText = null;

        for (i = 0; i < myTab.rows.length; i++) {
            var objCells = myTab.rows.item(i).cells;

            for (var j = 0; j < 3; j++) {
                infoup.value = infoup.value + '#' + objCells.item(j).innerHTML ;
            }
        }

        var parsed_data = '<%- JSON.stringify(insertexam.IdPatient) %>';

        $.ajax({
        method: "POST",
        url: "/users/medecin/updateSicknote/?id="+parsed_data,
        data: {
            "id":id.value,
            "info":infoup.value,
            "num_sick":num_sick.value,
        },
        success: function (result) {
            document.querySelector(".hideordonanceup").classList.remove("open");
                showMsg("ordonnance bien modifier",!result.err);   
                document.location.reload() ;
        },
    });
    
    }  
});

</script>